.day, .week{
    width: 75px;
    height: 75px;
    border: 3px solid rgb(6, 45, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(22, 153, 131);
    color: bisque;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
}

.week:hover{
    background-color: aquamarine;
    color: black;
    box-shadow: 20px 15px 20px rgb(92, 99, 92);
    border-radius: 30px 10px 30px;
    transform: scale(1.5);

}

.day:hover{
    background-color: aquamarine;
    color: black;
    box-shadow: 20px 15px 20px rgb(92, 99, 92);
    border-radius: 30px 10px 30px;
    transform: scale(1.5);
}

.calender-container{
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    gap: 20px;
   

}

.week{
    background-color: aqua;
    color: blue;
    text-transform: uppercase;
    border: 3px solid rgb(7, 143, 148);
    font-weight: bolder;
    

}